.version.index /* version checker */
{
	color: #000016;
	background-color: #6A1066;
}

.html
{
	background: #FFFFFF url("../images/2041862909_di6ernzj_01.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 709px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u81
{
	z-index: 3;
	width: 922px;
	height: 90px;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	top: 62px;
	left: 50%;
	margin-left: -462px;
}

#pamphletu86
{
	z-index: 14;
	width: 0.01px;
	height: 65px;
	padding-bottom: 290px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 19px;
}

#u95
{
	position: absolute;
	width: 922px;
	background-color: transparent;
	top: 72px;
	left: -1px;
}

#u95popup
{
	z-index: 15;
}

#u96
{
	z-index: 16;
	width: 918px;
	height: 280px;
	border-width: 2px;
	border-style: solid;
	border-color: #FC6B02;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#pu100-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 43px;
}

#u100-4
{
	z-index: 19;
	width: 347px;
	min-height: 71px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 27px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u97-10
{
	z-index: 23;
	width: 188px;
	min-height: 77px;
	background-color: transparent;
	color: #FC6B02;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 27px;
	font-weight: 700;
	margin-top: 26px;
	position: relative;
}

#u97-2
{
	font-family: macondo, fantasy;
}

#u97-4,#u97-6,#u97-8
{
	font-family: open-sans, sans-serif;
}

#u98
{
	z-index: 17;
	width: 397px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 432px;
}

#u115
{
	z-index: 33;
	width: 918px;
	height: 280px;
	border-width: 2px;
	border-style: solid;
	border-color: #FC6B02;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u91
{
	z-index: 34;
	width: 516px;
	position: relative;
	margin-right: -10000px;
	left: 329px;
}

#u92
{
	position: absolute;
	width: 253px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 3px;
}

.ie #u92
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u92.PamphletThumbSelected
{
	border-radius: 1px;
	width: 253px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
}

#u121
{
	position: absolute;
	width: 253px;
	height: 62px;
	left: 263px;
}

.ie #u92.PamphletThumbSelected,.ie #u121
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu82-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 53px;
	margin-left: 51px;
}

#u82-4
{
	z-index: 4;
	width: 178px;
	min-height: 37px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	font-size: 19px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u83-4
{
	z-index: 8;
	width: 221px;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #FC6B02;
	background-color: transparent;
	color: #FC6B02;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 24px;
	text-align: center;
	font-family: vortice-concept, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 367px;
}

#u83-2
{
	padding-top: 6px;
}

#u84
{
	z-index: 12;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 850px;
}

#u143
{
	z-index: 2;
	width: 960px;
	padding-bottom: 19px;
	margin-right: -10000px;
	margin-top: 636px;
}

#u144-4
{
	z-index: 37;
	width: 36px;
	min-height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 53px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 62px;
	padding-bottom: 144px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -636px;
}

